* {
  line-height: 1.4;
  padding: 0;
}

ul,
ol {
  padding-left: 22px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "MozillaText", sans-serif;
  background: #fff url('../img/background.jpg') no-repeat scroll -95px top;
  color: #000;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "MozillaHeadline", sans-serif;
}

a {
  color: #148cb5;
  text-decoration: none;
}

a:hover {
  color: #148cb5;
  text-decoration: underline;
}

#header {
  background: url('../img/header-bg.jpg');
  height: 100px;

  & h1 {
	  display: flex;
	  margin: 0 16px;
	  align-items: center;
	  height: 100%;
  }

  & a {
    color: #ffffff;

    &:hover {
      text-decoration: none;
    }
  }
}

#dino {
  background: url('../img/header-dino.jpg') no-repeat;
  height: 100px;
  width: 300px;
}

#utility {
  font-size: 62.5%;
  margin: 0.8em 0 0.7em 30px;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 3px 30px 0 0;
}

#utility * {
  display: inline;
}

#utility p {
  margin-right: -20px;
}

#utility strong {
  color: #000;
  font-size: 11px;
}

#utility ul {
  margin-left: 10px;
}

#utility li {
  background: transparent url('../img/bullet_utility.png') no-repeat 4px center;
  padding-left: 16px;
  font-size: 11px;
}

#utility li:first-child {
  background: none;
  padding: 0;
}

.main-container {
  display: flex;
  gap: 16px;
  margin: 0 auto;
  max-width: 1200px;
}

.main-content {
  flex-grow: 1;
  max-width: 900px;
}

h2 {
  font-size: 1.75em;
  color: #b72822;
  margin-bottom: 0;
}

h3 {
  margin-top: 10px;
  border-bottom: 1px solid #ccc;
}

h3 a {
  color: black;
}

h4 {
  margin: 0 0 0 15px;
  border-bottom: 1px solid #ccc;
}

h4 a {
  color: black;
}

.entry {
  margin-left: 15px;
}

.news .permalink {
  text-align: right;
}

.news img {
	width: 50% !important;
	height: 50% !important;
}

#footer {
  background-image: url('../img/footer.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

#footer-content {
  padding-top: 100px;
}

#footer-content p {
  text-align: center;
  padding: 5px;
  background-color: #2a2a2a;
  color: #999999;
  font-size: 0.9em;
}

.sidebar-content {
  max-width: 300px;
	font-size: 70%;
}

.sidebar-content .feeds,
.sidebar-content .disclaimer {
  padding-left: 15px;
}

.sidebar-content .feeds p {
  padding: 0;
  margin: 5px 0 0 0;
}
.sidebar-content .feeds ul {
  padding-left: 10px;
}
.sidebar-content .feeds li {
  margin: 0;
  padding: 0px;
  display: inline;
}

.sidebar-content .feeds li {
  background-image: url('../img/feed-icon.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 10px 3px 15px;
  margin: .4em 0;
}

.sidebar-content .feeds li.opml {
  background-image: url('../img/opml-icon.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 10px 3px 15px;
  margin: .4em 0;
}

.sidebar-content .feeds li.foaf {
  background-image: url('../img/foaf-icon.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 10px 3px 24px;
  margin: .4em 0;
}

.sidebar-content .main {
  background: transparent url('img.sidebar-content-back.png') no-repeat left top;
  /*border-top:5px solid #0095B9;*/
  /*min-height:438px; padding:20px;*/
  padding: 15px 0 0 15px;
}

.sidebar-content .main ul.planets {
  list-style-image:url('../img/world.png');
  padding-left: 35px;
}

.sidebar-content .main ul.planets li {
  font-size: 1.3em;
}

.sidebar-content .main ul.subscriptions li img {
  border: 0;
}

.sidebar-content .main .bottom {
  height: 28px;
  width: 100%;
  background: transparent url('../img/sidebar-content-bottom.png') no-repeat 50% bottom;
  padding-bottom: 30px;
}

.sidebar-content .message {
  cursor: help;
  border-bottom: 1px dashed red;
}

.sidebar-content a.message:hover {
  cursor: help;
  background-color: #ffD0D0;
  border: 1px dashed red !important;
  text-decoration: none !important;
}

/* Unstyled video tags can break the site layout as they take the whole viewport width */
video {
  max-width: 80%;
  border: 1px solid lightgray;
  border-radius: 10px;
}

@media (width < 900px) {
  .main-container {
    flex-direction: column;
    margin: 16px;
  }
  .main-content,
  .sidebar-content {
    min-width: 100%;
  }
}

