:root {
  color-scheme: light dark;

  --body-background-color: light-dark(#fafafa, #161616);
  --body-color: light-dark(#000000, #ffffff);
  --footer-border-color: light-dark(#eeeeee, #353535);
  --heading-link-color: light-dark(#000000, #ffffff);
  --input-background-color: light-dark(#ffffff, #0c0c0d);
  --input-border-color: light-dark(#dddddd, #353535);
  --link-color: light-dark(#148cb5, #148cb5);
  --post-background-color: light-dark(#ffffff, #242424);
  --post-border-color: light-dark(#dddddd, #353535);
  --post-box-shadow-color: light-dark(#dddddd, #0c0c0d);
  --post-metadata-color: light-dark(#555555, #aaaaaa);
  --post-source-background-color: light-dark(#eeeeee, #353535);
  --post-source-color: light-dark(#000000, #ffffff);
}

* {
  line-height: 1.5;
  padding: 0;
}

ul,
ol {
  padding-left: 22px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "MozillaText", sans-serif;
  background-color: var(--body-background-color);
  color: var(--body-color);
}

h1,h2,h3,h4,h5,h6 {
  font-family: "MozillaHeadline", sans-serif;
  line-height: 1.1;

  & a {
    color: var(--heading-link-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

h1, .h1 { font-size: 2rem; }
h2, .h2 { font-size: 1.75rem; }
h3, .h3 { font-size: 1.5rem; }
h4, .h4 { font-size: 1.25rem; }
h5, .h5 { font-size: 1.15rem; }
h6, .h6 { font-size: 1rem; }

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color);
}

/* Menu */
.menu {
  display: flex;
  gap: 8px;
  list-style-type: none;
  padding: 0;

  &.vertical {
    flex-direction: column;
  }
}

.menu-item {
  align-items: center;
  display: flex;
  gap: 8px;

  & a:hover {
    text-decoration: none;
  }
}

/* Button */
.button {
  border: 2px solid var(--body-color);
  color: var(--body-color);
  padding-inline: 16px;
  padding-block: 4px;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    background-color: var(--body-color);
    color: var(--body-background-color);
  }
}

/* Navbar */
.navbar-container {
  margin: 0 auto;
  max-width: 1200px;
}

.navbar {
  align-items: center;
  display: flex;
  padding-block: 16px;
}

.navbar-title {
  color: var(--heading-link-color);
  flex-grow: 1;
  font-family: "MozillaHeadline", serif;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: var(--heading-link-color);
  }
}

/* Main Area */
.main-container {
  display: flex;
  gap: 16px;
  margin: 0 auto;
  max-width: 1200px;
}

.main-content {
  flex-grow: 1;
  max-width: 900px;
}

/* Card */
/* TODO: Move post to this generic component */
.card {
  background-color: var(--post-background-color);
  border: 1px solid var(--post-border-color);
  border-radius: 8px;
  box-shadow: var(--post-box-shadow-color) 0 0 8px 0;
  margin-block: 2px;
  padding-block: 8px;
  padding-inline: 16px;
}

/* Post */
.post {
  background-color: var(--post-background-color);
  border: 1px solid var(--post-border-color);
  border-radius: 8px;
  box-shadow: var(--post-box-shadow-color) 0 0 8px 0;
  margin-block: 16px;
  padding-block: 8px;
  padding-inline: 16px;

  & img {
	  width: 50% !important;
	  height: 50% !important;
  }
}

.post-title a {
  color: var(--heading-link-color);
  font-size: 1.5rem;
}

.post-metadata {
  color: var(--post-metadata-color);
  font-size: 0.85rem;
  margin-block-start: -1.15rem;
}

/* Label */
.post-source {
  background-color: var(--post-source-background-color);
  border-radius: 4px;
  color: var(--post-source-color);
  font-size: 0.85rem;
  padding-block: 4px;
  padding-inline: 8px;
}

/* Footer */
#footer-content {
  border-top: 1px solid var(--footer-border-color);
}

/* Sidebar */
.sidebar-content {
  max-width: 300px;
	font-size: 0.85rem;
}

.sidebar-content ul {
  padding-inline-start: 8px;

  & ul {
    padding-inline-start: 24px;
  }
}

/* Input */
input[type="text"] {
  background-color: var(--input-background-color);
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  font: inherit;
  height: 32px;
  padding-block: 4px;
  padding-inline: 8px;
  min-width: 350px;
}

/* Unstyled video tags can break the site layout as they take the whole viewport
 * width */
video {
  max-width: 80%;
  border: 1px solid lightgray;
  border-radius: 10px;
}

/* Utils */
.u-text-bold {
  font-weight: bold;
}

.u-flex-grow {
  flex-grow: 1;
}

/* Small screen */
@media (width < 900px) {
  .main-container {
    flex-direction: column;
    margin: 16px;
  }
  .main-content,
  .sidebar-content {
    min-width: 100%;
  }
}

