<!DOCTYPE html>
<html dir="ltr" lang="de-DE" id="planet-mozilla-de">
<head>
	<title><TMPL_VAR name></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="generator" content="<TMPL_VAR generator ESCAPE="HTML">">
	<link rel="stylesheet" href="planet.css" type="text/css">
	<link rel="icon" href="http://mozilla.de/favicon.ico" type="image/ico">
	<TMPL_IF feedtype>
		<link rel="alternate" href="<TMPL_VAR feed ESCAPE="HTML">" title="<TMPL_VAR channel_title_plain ESCAPE="HTML">" type="application/<TMPL_VAR feedtype>+xml">
	</TMPL_IF>
    <!--[if lte IE 8]>
        <script src="http://mozilla.de/js/html5.js" type="text/javascript"></script>
    <![endif]-->
        <script type="text/javascript" src="http://mozilla.de/tabzilla.js"></script>
            <link href="http://mozilla.de/tabzilla.css" rel="stylesheet" />
</head>

<body id="planet">
<div id="back">
<a href="/" id="tabzilla">mozilla</a>
<div id="wrapper">
    <nav id="headerbar" class="clearfix">
        <ul>
            <li><a href="http://www.mozilla.com/de/firefox/">Firefox</a></li>
            <li><a href="http://www.thunderbird-mail.de/">Thunderbird</a></li>
            <li><a href="http://www.mozilla.org">mozilla.org</a></li>
        </ul>
    </nav>
		<div style="text-align: center;">
        	<h1>Wir sind <a href="http://mozilla.de/"><img src="../mozillade.png" width="492" height="85" alt="mozilla.de"/></a></h1>
            <h2>Die deutschsprachige Mozilla-Community</h2>
		</div>
    <header>
        <div id="header-wrapper" class="clearfix">

    	    <nav id="navigation">
                <ul>
					<li><a href="http://www.mozilla.de/" title="mozilla.de">Start</a></li>
					<li><a href="http://www.mozilla.de/hilfe/" title="Haben Sie Probleme mit Firefox & Co.? Wir helfen Ihnen weiter!">Hilfe</a></li>
					<li><a href="http://www.mozilla.de/mitmachen/" title="Möglichkeiten, bei Mozilla mitzumachen">Mitmachen!</a></li>
					<li><a href="http://www.mozilla.de/kalender/" title="Community-Kalender">Events</a></li>
					<li><a href="http://www.mozilla.de/ueber/" title="Mehr über Mozilla im deutschsprachigen Raum erfahren">Über uns</a></li>
                    <li><a href="http://planet.mozilla.de" class="active" title="Neuigkeiten aus der deutschsprachigen Mozilla-Welt lesen">Planet Mozilla (de)</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="content-wrapper" class="clearfix"> 
        <section id="content">

<h1><TMPL_VAR name></h1>
<TMPL_LOOP Items>
<TMPL_IF new_date>
<h2><TMPL_VAR new_date></h2>
</TMPL_IF>

<TMPL_IF new_channel>

### Planet provides template variables for *all* configuration options for
### the channel (and defaults), even if it doesn't know about them.  We
### exploit this here to add hackergotchi faces to our channels.  Planet
### doesn't know about the "face", "facewidth" and "faceheight" configuration
### variables, but makes them available to us anyway.

<h3><a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">"><TMPL_VAR channel_name></a></h3>
<TMPL_IF channel_face>
<img class="face" src="images/<TMPL_VAR channel_face ESCAPE="HTML">" width="<TMPL_VAR channel_facewidth ESCAPE="HTML">" height="<TMPL_VAR channel_faceheight ESCAPE="HTML">" alt="">
</TMPL_IF>
</TMPL_IF>

<article class="entry">
	<TMPL_IF title>
		<h4><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></h4>
	</TMPL_IF>
	<TMPL_VAR content>
	<p class="date"><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_IF creator>by <TMPL_VAR creator> at </TMPL_IF><TMPL_VAR date></a></p>
</article>
</TMPL_LOOP>

</section>

<aside id="sidebar">

<h2>Feeds</h2>
<p class="sb"><a href="atom.xml">Atom</a>, <a href="rss20.xml">RSS 2.0</a>, <a href="rss10.xml">RSS 1.0</a></p>
<h2>Abo-Liste</h2>
<p class="sb"><a href="foafroll.xml">FOAF</a>, <a href="opml.xml">OPML</a></p>
<h2>Letzte Aktualisierung</h2>
<p class="sb"><TMPL_VAR date></p>
<p><em>Alle Zeiten sind als UTC-Zeit angegeben.</em></p>
<h2>Abonnements</h2>
<ul>
<TMPL_LOOP Channels>
<li>
	<a href="<TMPL_VAR url ESCAPE="HTML">"><img alt="Feed" src="http://www.mozilla.de/img/icons/feed.png" /></a>
	<a href="<TMPL_VAR link ESCAPE="HTML">" title="<TMPL_VAR title ESCAPE="HTML">"><TMPL_VAR name></a>
</li>
</TMPL_LOOP>
</ul>

</aside>
</div>
</div>

<footer>
    <div id="footer-wrapper">
    <a href="http://mozilla.org/" class="footer-logo"><img src="http://www.mozilla.org/media/img/sandstone/footer-mozilla.png" alt="mozilla"></a>
	   <p class="text">Die Seite planet.mozilla.de wird von <a href="mailto:<TMPL_VAR owner_email>"><TMPL_VAR owner_name></a> gewartet und von <a href="http://www.intertwingly.net/code/venus/">Planet Venus</a> angetrieben.
       Sofern nicht anders vermerkt, steht der Inhalt dieser Seite unter der <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution Share-Alike License v3.0</a> oder einer späteren Version. Mozilla®, mozilla.org®, Thunderbird®, SeaMonkey® und das Mozilla-Logo™ sind <a href="http://www.mozilla.org/foundation/trademarks/list.html">eingetragene Markenzeichen</a> der Mozilla Foundation.
    </p>
		<p class="space">    </p></div>
</footer>
    
</div>
</body>
</html>
