/*
 * General styles
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

* { margin: 0; padding: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { font-family: 'Open Sans Light', sans-serif; font-weight: 300; line-height: 125%; }
p { margin: 0.5em 0 1em;}
a{color:rgb(175,50,50)}
#back{border-top:2px solid #fff;background:#f5f1e8 url(../bg-sand-1.png) repeat;background:url(../bg-gradient-sand-1.png) repeat-x 0 0,url(../bg-sand-1.png) repeat 0 0,#f5f1e8;min-height:100%;min-width:1024px;position:absolute;width:100%;z-index:-1}


/*
 * clearing
 */
.clearfix:after { content: "."; display: block; clear: both; font-size: 0; height: 0; visibility: hidden; }
*:first-child+html .clearfix { min-height: 0; }
* html .clearfix { height: 1%; }
.clear { clear: both; }

/* 
 * #headerbar 
 */
#headerbar{font-family:"Open Sans",sans-serif;margin-right:40px;margin-top:8px;text-decoration:none}
#headerbar ul{float:right;list-style:none;margin-right:25px;text-decoration:none}
#headerbar ul li{float:left;padding:.1em .5em .1em .7em;text-decoration:none}
#headerbar ul li a{color:#484848;font-size:13px;margin-right:16px;margin-top:18px;text-decoration:none;text-transform:uppercase}
#headerbar ul li a:hover{text-decoration:underline}

h1{font-family:'Open Sans',sans-serif;color:#484848;font-size:108px;letter-spacing:-4px;line-height:100%;margin-top:30px;font-weight:400;text-shadow:0 1px 0 rgba(255,255,255,0.75)}
h2{font-family:'Open Sans',sans-serif;color:#484848;font-size:48px;letter-spacing:-2px;line-height:100%;font-weight:400;text-shadow:0 1px 0 rgba(255,255,255,0.75)}
/*
 * header
 */

header .logo { float: left; width: 15%; min-width: 160px; margin: 0 1em;}
#navigation{font-family:'Open Sans Light',sans-serif;font-size:18px;font-weight:300;line-height:72px;padding-bottom:0;padding-top:0;text-align:center;text-decoration:none}
#navigation a:hover,dl#planet dd a.author:hover,p.planetlink a:hover,.projects-block a:hover,div#mitmachenul a:hover,ul#kontakt a:hover,div.hilfe a:hover{text-decoration:underline}
#navigation ul li{display:inline;margin:0;padding-bottom:12px;padding-top:12px;zoom:1px}
#navigation ul li .aktiv{color:#343434;padding:8px 24px;text-decoration:none}
#navigation ul li:not(:first-child) a,#navigation ul li:not(:first-child) span.aktiv{border-left:1px dotted #d6d6d6;}
#navigation ul li a{display:inline;padding:8px 24px;text-decoration:none;zoom:1px;font-weight:300}
a.active {color:rgb(72,72,72)}
header{-moz-box-shadow:0 1px 2px 0 rgba(0,0,0,0.05), 0 2px 1px 0 rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.05), 0 0 12px 0 rgba(0,0,0,0.05), inset 0 0 48px 0 rgba(255,255,255,1), inset 0 -2px 0 0 rgba(0,0,0,0.05);-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,0.05), 0 2px 1px 0 rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.05), 0 0 12px 0 rgba(0,0,0,0.05), inset 0 0 48px 0 rgba(255,255,255,1), inset 0 -2px 0 0 rgba(0,0,0,0.05);background:#FFF url(wallpaper.png) repeat-x top center;box-shadow:0 1px 2px 0 rgba(0,0,0,0.05), 0 2px 1px 0 rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.05), 0 0 12px 0 rgba(0,0,0,0.05), inset 0 0 48px 0 rgba(255,255,255,1), inset 0 -2px 0 0 rgba(0,0,0,0.05);font-size:14pt;margin:35px auto;min-height:72px;min-width:1000px;text-align:center}
header a{color:rgb(0,150,221);}
header a:hover,footer a:visited{color:rgb(0,150,221);}
header a:visited{color:rgb(0,150,221);}
header a.active:visited{color:rgb(80,80,80);}

/*
 * content
 */
#content-wrapper { margin: 0 auto; max-width: 1025px; min-width: 300px; }
#content { padding: 1.5em 2% 0 1%; float: left; width: 76%; }
#content h1 { font-family:'Open Sans Light',sans-serif; font-size: 26px; margin: 0 0 15px; text-shadow:0 1px 0 rgba(255,255,255,0.75); letter-spacing: -2px;}
#content h2 { font-family:'Open Sans Light',sans-serif; font-size: 22px; color:#af3232; margin: 20px 0; padding-top: 8px; border-top:1px dotted rgb(72,72,72);text-shadow:0 1px 0 rgba(255,255,255,0.75)}
#content h3 { font-family:'Open Sans Light',sans-serif; font-size: 22px; margin: 15px 0; text-shadow:0 1px 0 rgba(255,255,255,0.75)}
#content h4 { font-family:'Open Sans Light',sans-serif;  font-size: 16px; margin: 15px 0; text-shadow:0 1px 0 rgba(255,255,255,0.75); font-weight:300}
#content ul { margin: 0.5em 0 1em 40px; }
#content article.entry { padding: 0 25px; }
#content blockquote { padding: 0 30px; border-left: 5px solid #484848; font-style: italic; }
#content .video-wrap { display: none; }

/*
 * sidebar
 */
#sidebar { float: left; width: 19%; padding: 2.5% 1% 0; font-family:"Open Sans Light",sans-serif; }
#sidebar a {text-decoration:none;font-family:"Open Sans Light",sans-serif;font-weight:300;}
#sidebar a:hover {text-decoration:underline}
#sidebar h2{font-family:"Open Sans Light",sans-serif;font-size:32px;font-weight:300;padding:0 .2em;top:0;margin-left:-6px;}
#sidebar p { margin: 0 0 1em; }
#sidebar ul { padding: 8px 0 0; list-style: none; margin: 0; }
.sb {border-top:1px dotted #d6d6d6;}

/*
 * footer
 */
footer{background:#fff;color:#666;font-size:.875em;line-height:1.285;margin:1em 0 0;padding:34px 0;width:100%}
footer a{color:color:rgb(175,50,50);text-decoration:none}
footer a:hover{text-decoration:underline;}
footer a img{margin-left:64px;margin-top:-22px}
footer a:hover{color:#20679e}
footer p{margin-left:400px}
#footer-wrapper{margin:0 auto;max-width:1025px;min-width:300px;padding:1.5em 3%}
.text{margin-top:-26px}
